<mat-card class="container">
    <mat-card-header>
      <mat-card-title>Cadastrar IMC</mat-card-title>
      <br> <br/>
    </mat-card-header>
    <mat-card-content>
      <!-- <mat-form-field *ngIf="id" class="input" id="id">
        <mat-label for="id">Id:</mat-label>
        <input disabled="" matInput type="number" name="id" [(ngModel)]="id" />
      </mat-form-field> -->
      <mat-form-field class="input" id="peso">
        <p> 
        <mat-label for="peso">Seu peso:</mat-label>
      </p>
        <input matInput type="text" name="peso" [(ngModel)]="peso" />
      </mat-form-field>
      <mat-form-field class="input" id="altura">
        <p> 
        <mat-label for="altura">Sua altura:</mat-label>
        </p> 
        <input matInput type="text" name="altura" [(ngModel)]="altura" />
      </mat-form-field>

      <mat-form-field id="aluno" class="input">
        <p> 
        <mat-label for="aluno">Nome do aluno</mat-label>
      </p> 
        <mat-select [(ngModel)]="alunoId">
          <mat-option *ngFor="let aluno of alunos" value="{{ aluno.id }}">
            {{ aluno.nome }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
  
    <button mat-raised-button color="warn" *ngIf="!id" id="btnCadastrar" (click)="cadastrar()">
      Cadastrar
    </button>
    <button mat-raised-button color="warn" *ngIf="id" id="btnAlterar" (click)="alterar()">
        Alterar
      </button>
  </mat-card>